<% if (currentPage === 'login') { %>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="#">English Class</a>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" data-i18n="languages">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button class="dropdown-item flag-button" data-language="kz"><img
                                        src="https://flagcdn.com/h20/kz.png"
                                        height="20"
                                        width="30"
                                        alt="Kazakhstan"> Қазақша
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="en"><img
                                        src="https://flagcdn.com/h20/us.png"
                                        height="20"
                                        width="30"
                                        alt="United States"> English
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="ru"><img
                                        src="https://flagcdn.com/h20/ru.png"
                                        height="20"
                                        alt="Russia"> Русский
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
<% } else if(currentPage === 'admin' || currentPage === 'manager' || currentPage === 'teacher' || currentPage === 'student') { %>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" href="#">English Class</a>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" data-i18n="languages">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button class="dropdown-item flag-button" data-language="kz"><img
                                        src="https://flagcdn.com/h20/kz.png"
                                        height="20"
                                        width="30"
                                        alt="Kazakhstan"> Қазақша
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="en"><img
                                        src="https://flagcdn.com/h20/us.png"
                                        height="20"
                                        width="30"
                                        alt="United States"> English
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="ru"><img
                                        src="https://flagcdn.com/h20/ru.png"
                                        height="20"
                                        alt="Russia"> Русский
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="/api/auth/logout" method="post">
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <img width="20" height="20" style="" src="https://img.icons8.com/ios/50/FF0000/exit--v1.png"
                         alt="exit--v1"/>
                </button>
            </form>
        </div>
    </header>
<% } else { %>
    <header class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" onclick="goBack()">
                <img width="20" height="20" src="https://img.icons8.com/ios/50/back--v3.png" alt="back--v3"/>
            </button>
            <a class="navbar-brand mx-auto" href="#">English Class</a>
            <div class="d-flex">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                            data-bs-toggle="dropdown" aria-expanded="false" data-i18n="languages">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton1">
                        <li>
                            <button class="dropdown-item flag-button" data-language="kz"><img
                                        src="https://flagcdn.com/h20/kz.png"
                                        height="20"
                                        width="30"
                                        alt="Kazakhstan"> Қазақша
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="en"><img
                                        src="https://flagcdn.com/h20/us.png"
                                        height="20"
                                        width="30"
                                        alt="United States"> English
                            </button>
                        </li>
                        <li>
                            <button class="dropdown-item flag-button" data-language="ru"><img
                                        src="https://flagcdn.com/h20/ru.png"
                                        height="20"
                                        alt="Russia"> Русский
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <form action="/api/auth/logout" method="post">
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <img width="20" height="20" style="" src="https://img.icons8.com/ios/50/FF0000/exit--v1.png"
                         alt="exit--v1"/>
                </button>
            </form>
        </div>
    </header>
<% } %>
<script>
    window.addEventListener('pageshow', function(event) {
        if (event.persisted) {
            window.location.reload()
        }
    });
    function goBack() {
        window.history.back()
    }
</script>