<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Class</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body class="text-center">
<%- include('header') %>
<div class="container py-5">
    <div class="card mx-auto" style="max-width: 400px;">
        <div class="card-header">
            <h3 class="text-center">Add Student to Class</h3>
        </div>
        <div class="card-body">
            <form action="/api/teacher/class/add/students" method="post" class="text-center">
                <div class="mb-3">
                    <label for="classSelect" class="form-label">Select Class:</label>
                    <select class="form-select" id="classSelect" name="classId" required>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="studentSelect" class="form-label">Select Students:</label>
                    <select class="form-select" id="studentSelect" name="studentIds" multiple required>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary w-100">Create</button>
            </form>
        </div>
    </div>
</div>
<script>
    async function getClasses() {
        try {
            const response = await axios.get('http://localhost:3000/api/teacher/classes')
            return response.data.classes
        } catch (error) {
            console.error('Error fetching classes:', error)
            return []
        }
    }

    async function getStudents() {
        try {
            const response = await axios.get('http://localhost:3000/api/teacher/students')
            return response.data.students
        } catch (error) {
            console.error('Error fetching students:', error)
            return []
        }
    }

    function populateDropdown(selectElement, data) {
        selectElement.innerHTML = ''
        console.log(data)
        data.forEach(item => {
            const option = document.createElement('option')
            option.text = item.name
            option.value = item._id
            selectElement.appendChild(option)
        })
    }

    document.addEventListener("DOMContentLoaded", async function () {
        try {
            const classSelect = document.getElementById('classSelect')
            const studentSelect = document.getElementById('studentSelect')

            const classes = await getClasses()
            populateDropdown(classSelect, classes)

            const students = await getStudents()
            populateDropdown(studentSelect, students)
        } catch (error) {
            console.error('Error initializing page:', error)
        }
    })
</script>
</body>
</html>
